html, p {
  margin: 0;
  padding: 0;
  color: red;
}

body {
  width: 100%;
}

.outer-shell {
  width: 80%;
  height: 400px;
  background-color: #615853;
  display: block;
  margin: 10% auto;
  border-radius: 4px;
  padding: 1rem;
}

.inner-shell {
  background-color: black;
  height: 100%;
  position: relative;
}

.clock-ampm {
  color: white;
  float: left;
  margin: 4rem;
}
.clock-ampm ul {
  padding: 0;
}
.clock-ampm li {
  list-style-type: none;
}
.clock-ampm .active {
  background-color: blue;
  border-radius: 6px;
  padding: .5rem;
}

.pm-notifier {
  padding: .5rem;
}

.clock-screen {
  background-color: rgba(132, 45, 16, 0.4);
  color: darkred;
  font-size: 13rem;
  border-radius: 40px;
}

.clock-text {
  color: red;
}

.am-label,
.fm-label {
  clear: both;
  margin: 2rem;
}
.am-label ul,
.fm-label ul {
  padding-left: 6rem;
}
.am-label ul li,
.fm-label ul li {
  padding-left: 2rem;
  color: white;
  list-style-type: none;
  display: inline-block;
}
.am-label ul li:first,
.fm-label ul li:first {
  padding-left: 2rem;
}
