$darkgrey: #615853; 

html, p {
    margin: 0;
    padding: 0;
    color: red;
}

body {
    width: 100%;
}

.outer-shell {
    width: 80%;
    height: 400px;
    background-color: $darkgrey;
    display: block;
    margin: 10% auto;
    border-radius: 4px;
    padding: 1rem;
}

.inner-shell {
	background-color: black;
	height: 100%;
	position: relative;
}

.clock-ampm {
	color: white;
	float: left;
	margin: 4rem;
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
	}
	.active {
		background-color: blue;
		border-radius: 6px;
		padding: .5rem;
	}
}

.pm-notifier{
	padding: .5rem;
}
.clock-screen {
	background-color: rgba(132,45,16,.4);
	color: darkred;
	font-size: 13rem;
	// width: 90%;
	border-radius: 40px;
}

.clock-text {
	color: red;
}

.bottom-row {
}

.am-label, 
.fm-label {
	clear: both;
	margin: 2rem;
	ul {
		padding-left: 6rem;
	}
	ul li {
		padding-left: 2rem;
		color: white;
		list-style-type: none;
		display: inline-block;
		&:first {
			padding-left: 2rem;
		}
	}
}

// clock hours/min
.hours,
.minutes {
	
}
#colon {

}